# npm 发布忽略的文件
.env
.env.tmp
.npmrc
.cnb
.roo
.vscode
.github

node_modules
src
test
docs

.cnb.yml
.editorconfig
.prettierignore
.prettierrc.mjs
.npmignore
.npmrc

eslint.config.ts
tsconfig.json

log/
*.log
*.tgz

scripts
examples
out/examples
